h2 {
    font-size: 2rem;
  }
  

.bg-bnb-orange{
	background-color: #FEB139 !important;
}
.bg-bnb-blue{
	background-color: #1C4E80!important;
}

.form-sz-lg{
	height: 50px;
	width: 100%;
}
.search-section {
    padding-top: 4rem !important;
    padding-bottom: 0rem !important;
    min-height: 100vh;
  }

.box {
    display: flex;
    flex-grow: 1;
      flex-shrink: 1;
      flex-basis: auto;
  }
  
  .counter{
    flex: 1 1;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(86,132,232,.15);
    background-color: #fff;
  }
  
   .counter:hover{
    box-shadow: 3px 3px 10px #3066A6;
    transition-duration: 1s;
   }

.form-control{
    border-radius: 2rem;
    text-align: center; 
    font-size: 0.9rem;
}
.blue-button {
  padding: 8px 10px;
  line-height: 16px;
  text-align: center;
  font-weight: 500;
  border-radius: 50px;
  background: #0061ff;
  color: #fff;
  font-size: 16px;
}

.u-text-2 {
  font-size: 0.9rem;
  width: 691px;
  margin: 12px auto 0;
  text-align: center;
}
@media (max-width: 48rem) {
  .u-text-2{
    width: auto;
}
}
.row {
    --bs-gutter-x: 0.5rem;
}
.register-row{
  --bs-gutter-x: 5.5rem;
}
.col_half { width: 49%; }
.col_third { width: 32%; }
.col_fourth { width: 23.5%; }
.col_fifth { width: 18.4%; }
.col_sixth { width: 15%; }
.col_three_fourth { width: 74.5%;}
.col_twothird{ width: 66%;}
.col_half,
.col_third,
.col_twothird,
.col_fourth,
.col_three_fourth,
.col_fifth{
	position: relative;
	display:inline;
	display: inline-block;
	float: left;
	margin-right: 2%;
	margin-bottom: 20px;
}
.wrapper { 
  width: 100%; 
  margin: 30px auto; 
  position: relative;
}
.counter { 
  background-color: #ffffff; 
  padding: 20px 0; 
  border-radius: 5px;
}
.count-title { 
  font-size: 1rem; 
  font-weight: normal;  
  margin-top: 10px; 
  margin-bottom: 0; 
  text-align: center;
 }
.count-text { 
  font-size: 0.9rem; 
  font-weight: normal;  
  margin-top: 10px; 
  margin-bottom: 0; 
  text-align: center; 
}
.fa-2x { 
  margin: 0 auto; 
  float: none; 
  display: table; 
  color: #4ad1e5;

}
.fa-1x{
  margin: 0 auto; 
  float: none; 
  display: table; 
  color: #4ad1e5;
}
.fs-2 {
  font-size: calc(0.5rem + .9vw) !important;

}



@media (min-width: 768px){
  .p-md-5 {
    padding-left: 5rem !important;
    padding-right: 5rem !important;
  }
  
}
.card{
  background-color: #fff;
}

.mx-1 .button{
  margin: auto;
}
@media (max-width: 48rem) {
  .mx-1 .button{
   width: 50%;
}
}


.section-content[_nghost-app-root-c45] {
  display: flex;
  flex-direction: column;
  padding: 0 32px;
  margin-bottom: 0;
}


.key-employees-container[_ngcontent-app-root-c45] {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 32px 0;
  max-height: 228px;
}



.person-card-container[_nghost-app-root-c27] {
  padding: 12px;
  background: #fff;
  border-radius: 6px;
  display: flex;
  height: 102px;
  color: #404040;
}
.person-card-container[_ngcontent-app-root-c45] {
  border: 1px solid #e2eafb;
  box-shadow: 0 0 15px rgba(86,132,232,.15);
  width: 300px;
}

.placeholder-picture[_ngcontent-app-root-c27] {
  border: 1px solid #d9dde4;
  box-sizing: border-box;
  border-radius: 50px;
  width: calc(50px + 2*1px);
  height: calc(50px + 2*1px);
}

.link {
  color: #0061ff;
  text-decoration: none;
}
.card-title {
  color: #0061ff;
  text-decoration: none;
  font-weight: 100;
  padding-right: 2rem;
 
}

.person-image[_ngcontent-app-root-c27] {
  border: 1px solid #d9dde4;
  box-sizing: border-box;
  border-radius: 50px;
  width: calc(50px + 2*1px);
  height: calc(50px + 2*1px);
  width: auto;
}
person-right-content[_ngcontent-app-root-c27] {
  width: 228px;
  height: 78px;
  margin-left: 8px;
}

.person-card-container[_nghost-app-root-c27] {
  color: #404040;
}

.p-5 {
  padding-top: 4rem !important;
  padding-bottom: 4rem !important;
  min-height: 100vh;
  width: 95%;
  margin: auto;
}

.card-text{
  color:#404040;
  font-size: 12px;
}
.card-text small{
  
  font-size: 12px;
}
.card-title small{
  
  font-size: 13px;
}
.card-employee{
  background-color: #ffffff;
  padding: 20px 0px;
  border-radius: 0px;
  border-color: #fff;
  flex: 1 1;
cursor: pointer;
box-shadow: 0 4px 15px rgba(86,132,232,.15);
}

.header_title{
  font-weight: 600;
  color: #FEB139;
  font-size: 1rem;
}



.btn {
	transform: translateY(0px);
	transition: 0.3s linear;
  position: relative;
  overflow: hidden;
	cursor: pointer;
	outline: none;
	border: none;
	padding: 0;
	margin: 0;
	
}

.btn:hover{transform: translateY(-6px);
	background: #4ad1e5;
  color: #e2eafb;

}

.card-employee{
	transform: translateY(0px);
	transition: 0.3s linear;
  position: relative;
  overflow: hidden;
}

.card-employee:hover{transform: translateY(-6px);
	background: #F7F6FB;
  border:#F7F6FB;

}



/*Just the background stuff*/
span .s1{
	position : absolute;
	top : 0;
	font-size : 15rem;
	font-weight : 800;
	text-transform : uppercase;
	color : #3C4447;
}
span.s2 {
	font-weight : 800;
	position : absolute;
	bottom : 0;
	right : 0;
	font-size : 15rem;
	text-transform : uppercase;
	color : #3C4447;
}


/*My hum... body.. yeah..*/



/* The card */
.show-card {

	height:auto;
	width: 900px;


	background-color : #FFF;
	-webkit-box-shadow: 10px 10px 93px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 93px 0px rgba(221, 226, 232, 0.75);
	box-shadow: 2px 2px 9px 0px rgba(20, 21, 21, 0.75);
}

/* Image on the left side */
.thumbnail {
  float : left;
	position : relative ;
	left : 30px;
	top : 100px;
	height : 300px;
	width : 300px;
	-webkit-box-shadow: 10px 10px 60px 0px rgba(13, 38, 114, 0.75);
	-moz-box-shadow: 10px 10px 60px 0px rgba(24, 24, 197, 0.75);
	box-shadow: 10px 10px 60px 0px rgba(66, 124, 240, 0.75);
	overflow: hidden
}
	
/*object-fit: cover;*/
/*object-position: center;*/

img.left{
	position: absolute;
	left: 50%;
	top: 50%;
	height: auto;
	width: 100%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);

}

/* Right side of the card */
.right{
	margin-left : 380px;
	margin-right : 30px;

}


.right h1{
  padding-top : 15px;
	font-size : 2rem;
	color : #4B4B4B;
  text-transform: uppercase;
}
	

.author{
  background-color : #9ECAFF;
	height : 30px;
	width: 120px;
	border-radius : 20px;
align-content: center;

}
	

.author>img{
	padding-top : 5px;
	margin-left : 10px;
	float : left;
	height : 20px;
	width : 20px;
	border-radius : 50%;
}


.right h2{
	padding-top : 8px;
	margin-right : 6px;
	text-align : right;
	font-size : 0.8rem;
	color :white;
}


.separator{
  margin-top : 10px;
	border : 1px solid #C3C3C3;
}
	
.show-card{
	text-align: justify;
	padding-top : 10px;
	font-size : 0.95rem;
	line-height: 150%;
	color : #4B4B4B;
  padding-bottom: 20px;
}


img {

  box-shadow: 1px 3px 15px rgba(0,0,0,0.5);

}



