h2 {
    font-size: 2rem;
  }
  

.bg-bnb-orange{
	background-color: #FEB139 !important;
}
.bg-bnb-blue{
	background-color: #1C4E80!important;
}

.form-sz-lg{
	height: 50px;
	width: 100%;
}
.search-section {
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
    min-height: 100vh;
  }
  .search-notification{

   
   
}

.box {
    display: flex;
    flex-grow: 1;
      flex-shrink: 1;
      flex-basis: auto;
  }
  
  .counter{
    flex: 1 1;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(86,132,232,.15);
    background-color: #fff;
    border-radius: 6px;
  
  }
  
   .counter:hover{
    box-shadow: 3px 3px 10px #3066A6;
    transition-duration: 1s;
   }

.form-control{
    border-radius: 2rem;
    text-align: center;
  
}
.blue-button {
  padding: 8px 10px;
  line-height: 16px;
  text-align: center;
  font-weight: 500;
  border-radius: 50px;
  background: #0061ff;
  color: #fff;
  font-size: 16px;
}

.u-text-2 {
  font-size: 1rem;
  width: 691px;
  margin: 12px auto 0;
  text-align: center;
}

.row {
    --bs-gutter-x: 0.5rem;
  
}


.col_half { width: 49%; }
.col_third { width: 32%; }
.col_fourth { width: 23.5%; }
.col_fifth { width: 18.4%; }
.col_sixth { width: 15%; }
.col_three_fourth { width: 74.5%;}
.col_twothird{ width: 66%;}
.col_half,
.col_third,
.col_twothird,
.col_fourth,
.col_three_fourth,
.col_fifth{
	position: relative;
	display:inline;
	display: inline-block;
	float: left;
	margin-right: 2%;
	margin-bottom: 20px;
}



.wrapper { 
  width: 100%; 
  margin: 30px auto; 
  position: relative;
}
.counter { 
  background-color: #ffffff; 
  padding: 20px 0; 
  border-radius: 5px;
}
.count-title { 
  font-size: 1rem; 
  font-weight: normal;  
  margin-top: 10px; 
  margin-bottom: 0; 
  text-align: center;
 }
.count-text { 
  font-size: 13px; 
  font-weight: normal;  
  margin-top: 10px; 
  margin-bottom: 0; 
  text-align: center; 
}
.fa-2x { 
  margin: 0 auto; 
  float: none; 
  display: table; 
  color: #4ad1e5; 

}




