h2 {
  font-size: 2rem;
}


.bg-bnb-orange{
background-color: #FEB139 !important;
}
.bg-bnb-blue{
background-color: #1C4E80!important;
}

.form-sz-lg{
height: 50px;
width: 100%;
}
.search-section {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
  min-height: auto;
  width: 100%;
}
@media (max-width: 48rem) {
  .search-section{
    padding-top: 3rem !important;
    padding-bottom: 0rem !important;
    min-height: 100vh;
}
}

.box {
  display: flex;
  flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}

.counter{
  flex: 1 1;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(86,132,232,.15);
  background-color: #fff;
}

 .counter:hover{
  box-shadow: 3px 3px 10px #3066A6;
  transition-duration: 1s;
 }

.form-control{
  border-radius: 2rem;
  text-align: center; 
  font-size: 0.9rem;
  appearance: auto;
} 
.blue-button {
padding: 8px 10px;
line-height: 16px;
text-align: center;
font-weight: 500;
border-radius: 50px;
background: #0061ff;
color: #fff;
font-size: 16px;
}

.u-text-2 {
font-size: 0.9rem;
width: 691px;
margin: 12px auto 0;
text-align: center;
font-weight: normal;
}
@media (max-width: 48rem) {
.u-text-2{
  width: auto;
}
}
.row {
  --bs-gutter-x: 0.5rem;
}
.register-row{
--bs-gutter-x: 5.5rem;
}
.col_half { width: 49%; }
.col_third { width: 32%; }
.col_fourth { width: 23.5%; }
.col_fifth { width: 18.4%; }
.col_sixth { width: 15%; }
.col_three_fourth { width: 74.5%;}
.col_twothird{ width: 66%;}
.col_half,
.col_third,
.col_twothird,
.col_fourth,
.col_three_fourth,
.col_fifth{
position: relative;
display:inline;
display: inline-block;
margin-right: 2%;
margin-bottom: 20px;
}
.wrapper { 
width: 100%; 
margin: 30px auto; 
position: relative;
}
.counter { 
background-color: #ffffff; 
padding: 20px 0; 
border-radius: 5px;
}
.count-title { 
font-size: 1rem; 
font-weight: normal;  
margin-top: 10px; 
margin-bottom: 0; 
text-align: center;
}
.count-text { 
font-size: 0.9rem; 
font-weight: normal;  
margin-top: 10px; 
margin-bottom: 0; 
text-align: center; 
}
.fa-2x { 
margin: 0 auto; 
float: none; 
display: table; 
color: #4ad1e5;

}
.fa-1x{
margin: 0 auto; 
float: none; 
display: table; 
color: #4ad1e5;
}
.fs-2 {
font-size: calc(0.5rem + .9vw) !important;

}



@media (min-width: 768px){
.p-md-5 {
  padding-left: 5rem !important;
  padding-right: 5rem !important;
}

}
.card{
background-color: #fff;
}

.mx-1 .button{
margin: auto;
}
@media (max-width: 48rem) {
.mx-1 .button{
 width: 50%;
}
}


.section-content[_nghost-app-root-c45] {
display: flex;
flex-direction: column;
padding: 0 32px;
margin-bottom: 0;
}


.key-employees-container[_ngcontent-app-root-c45] {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
margin: 32px 0;
max-height: 228px;
}



.person-card-container[_nghost-app-root-c27] {
padding: 12px;
background: #fff;
border-radius: 6px;
display: flex;
height: 102px;
color: #404040;
}
.person-card-container[_ngcontent-app-root-c45] {
border: 1px solid #e2eafb;
box-shadow: 0 0 15px rgba(86,132,232,.15);
width: 300px;
}

.placeholder-picture[_ngcontent-app-root-c27] {
border: 1px solid #d9dde4;
box-sizing: border-box;
border-radius: 50px;
width: calc(50px + 2*1px);
height: calc(50px + 2*1px);
}

.link {
color: #0061ff;
text-decoration: none;
}
.card-title {
color: #0061ff;
text-decoration: none;
font-weight: 100;
padding-right: 2rem;

}

.person-image[_ngcontent-app-root-c27] {
border: 1px solid #d9dde4;
box-sizing: border-box;
border-radius: 50px;
width: calc(50px + 2*1px);
height: calc(50px + 2*1px);
width: auto;
}
person-right-content[_ngcontent-app-root-c27] {
width: 228px;
height: 78px;
margin-left: 8px;
}

.person-card-container[_nghost-app-root-c27] {
color: #404040;
}

.p-5 {
  padding-top: 0rem !important;
  padding-bottom: 3rem !important;
  min-height:auto;
  width: 100%;
  margin: auto;
}
@media (max-width: 48rem) {
.p-5{
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
  min-height: 100vh;
}
}

.card-text{
color:#3d4141;
font-size: 12px;
font-weight: normal;
}
.card-text small{

font-size: 12px;
font-weight: normal;
}
.card-title small{

font-size: 13px;
}
.card-employee{
background-color: #ffffff;
padding: 20px 0px;
border-radius: 0px;
border-color: #fff;
flex: 1 1;
cursor: pointer;
box-shadow: 0 4px 15px rgba(86,132,232,.15);
}

.header_title{
font-weight: 600;
color: #FEB139;
font-size: 1rem;
}

.btn {
transform: translateY(0px);
transition: 0.3s linear;
position: relative;
overflow: hidden;
cursor: pointer;
outline: none;
border: none;
padding: 0;
margin: 0;

}

.btn:hover{transform: translateY(-6px);
background: #4ad1e5;
color: #e2eafb;

}


.card-employee{
transform: translateY(0px);
transition: 0.3s linear;
position: relative;
overflow: hidden;
}

.card-employee:hover{transform: translateY(-6px);
background: #F7F6FB;
border:#F7F6FB;

}
.result-img img {
box-shadow: 1px 3px 15px rgba(0,0,0,0.5);
}
/*New Design*/


@media (min-width: 768px){
  .show-container{
    max-width: 750px;
  }
  
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
width: 100%;
padding-right: var(--bs-gutter-x,.75rem);
padding-left: var(--bs-gutter-x,.75rem);
margin-right: auto;
margin-left: auto;
}

@media (min-width: 768px){
.col-md-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}
}

.row > * {
flex-shrink: 0;

padding-right: calc(var(--bs-gutter-x)/ 2);
padding-left: calc(var(--bs-gutter-x)/ 2);
margin-top:1rem;
}

.card-profile {
margin-top: 30px;
text-align: center;
}

.cards-5 .card {
display: inline-block;
position: relative;
width: 100%;
margin-bottom: 30px;
border-radius: 6px;
color: rgba(0, 0, 0, 0.87);
background: #fff;
min-width: 0;
word-wrap: break-word;
border: 1px solid rgba(0,0,0,.125);
box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.card-profile .card-avatar, .card-testimonial .card-avatar {
max-width: 130px;
max-height: 130px;
margin: -50px auto 0;
border-radius: 50%;
overflow: hidden;
box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.card img {
width: 100%;
height: auto;
}
.card-image img{
width: 90%;
height: auto;
}

img, svg {
vertical-align: middle;
}

h4, .h4 {
  font-size: 1.3em;
  font-weight: 00;


}

.category {
  position: relative;
  line-height: 0;
  margin: 30px 0;
}
.text-muted {
color: #0061ff !important;

}

.table p  i{
color: #4ad1e5;
}
.table p {
  color: #3d4141;
 justify-content: left;
 text-align: left;
 font-size: 14px;
padding-left: 2rem;
padding-right: 2rem;

}
small{
  font-weight: normal;
}

.table p span {
  color:  #02080e;
 
  font-weight: 600;
}

.card-caption {
font-weight: 700;
font-family: "Roboto Slab", "Times New Roman", serif;
}
.card-caption, .card-caption a {
color: #333;
text-decoration: none;
}

@media (max-width: 48rem) {
h4{
 display:contents;
}
}
@media (max-width: 48rem) {
.h4{
font-size: 1rem;
}
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
 
}
.card-image{
width: 85%;

}
.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
}
.show-container{
padding-top: 3rem;
}


.img-fluid {
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
text-decoration: none;
text-align: center;
padding-top: 1rem;
padding-bottom: 0.5rem;


}

.nav_item ul li small{
display: block;
margin-left: auto;
margin-right: auto;
width: 75%;
text-decoration: none;
text-align: center;
color:#FEB139;
}
.nav_item{
left: 0;
padding: 3rem .5rem 0 0;
}
.nav_item2{
left: 0;
padding: .5rem 1rem 1rem 0;
}
.nav_item2 ul li small{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  text-decoration: none;
  text-align: center;
  color:#FEB139;
  
  
  }

@media (max-width: 48rem) {
  .nav{
   padding-top: 6rem;
    }
}
@media (max-width: 48rem) {
    .header{
     padding-top: 1rem;
      }
}
.table tr{
  font-size: 14px;
  font-weight: normal;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;

 
}
.column h4{
  text-align: left;
  padding-left: 2rem;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.form_control{
  border-radius: 2rem;
padding: .375rem .75rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align: center;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;


}
.btn-group{
  padding-left: 2rem;
  padding-right: 2rem;

}
.btn-group button{

  font-size: 1rem;
}