@font-face {
    font-family: 'poppins-black';
    src: url('../fonts/Poppins-Black.ttf');
}
@font-face {
    font-family: 'poppins';
    src: url('../fonts/Poppins-Regular.ttf');
}
body, .title2{
    font-family: 'poppins';
}
.title{
    font-family: 'poppins-black';
}
.pagination{
    display: flex;
}
.paginate_button{
    padding: 10px;
    font-size: 14px;
}